@page "/technology"
 <BodyElement CssClass="technology" />
  <main id="main" class="grid-container grid-container--technology flow">


    <NumberedTitle TitleNumber=3>Space launch 101</NumberedTitle>
   <div class="images" id="vehicle-image">
        <img class="portrait" src="/assets/technology/image-launch-vehicle-portrait.jpg"  alt="the launch vehicle"/>
        <img class="landscape" src="/assets/technology/image-launch-vehicle-landscape.jpg" alt="the launch vehicle"/>
    </div>
    <div hidden class="images" id="capsule-image">
        <img class="portrait" src="/assets/technology/image-space-capsule-portrait.jpg"  alt="capsule"/>
        <img class="landscape" src="/assets/technology/image-space-capsule-landscape.jpg" alt="capsule"/>
    </div>
    <div hidden class="images" id="spaceport-image">
        <img class="portrait" src="/assets/technology/image-spaceport-portrait.jpg"  alt="capsule"/>
        <img class="landscape" src="/assets/technology/image-spaceport-landscape.jpg" alt="capsule"/>
    </div>
    <div class="number-list flex" role="tablist">
        <button aria-selected="true" role="tab" tabindex="0" aria-controls="vehicle-tab" data-image="vehicle-image">1</button>
        <button aria-selected="false" role="tab" tabindex="-1" aria-controls="capsule-tab" data-image="capsule-image">2</button>
        <button aria-selected="false" role="tab" tabindex="-1" aria-controls="spaceport-tab" data-image="spaceport-image">3</button>
    </div>
    <article class="technology-details flow flow--space-small" id="vehicle-tab" role="tabpanel" tabindex="0">
        <header class="flow">
            <h2 class="text-accent ff-seriff uppercase">The Terminology ...</h2>
            <p class="fs-700 uppercase ff-serif">Launch Vehicle</p>
        </header>
        <p class="text-accent"> 
            A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a 
            payload from Earth's surface to space, usually to Earth orbit or beyond. Our 
            WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, 
            it's quite an awe-inspiring sight on the launch pad!</p>

      
    </article>
    <article hidden class="technology-details flow flow--space-small" id="capsule-tab" role="tabpanel" tabindex="-1">
        <header class="flow">
            <h2 class="text-accent ff-seriff uppercase">The Terminology ...</h2>
            <p class="fs-700 uppercase ff-serif">Space capsule</p>
        </header>
        <p class="text-accent"> 
            A space capsule is an often-crewed spacecraft that uses a blunt-body reentry 
            capsule to reenter the Earth's atmosphere without wings. Our capsule is where 
            you'll spend your time during the flight. It includes a space gym, cinema, 
            and plenty of other activities to keep you entertained.</p>

      
    </article>
    <article hidden class="technology-details flow flow--space-small" id="spaceport-tab" role="tabpanel" tabindex="-1">
        <header class="flow">
            <h2 class="text-accent ff-seriff uppercase">The Terminology ...</h2>
            <p class="fs-700 uppercase ff-serif">Spaceport</p>
        </header>
        <p class="text-accent"> 
            A spaceport or cosmodrome is a site for launching (or receiving) spacecraft, 
            by analogy to the seaport for ships or airport for aircraft. Based in the 
            famous Cape Canaveral, our spaceport is ideally situated to take advantage 
            of the Earth’s rotation for launch.</p>

      
    </article>
  </main>