@*<div role="tablist" aria-label="crew member list" class="dot-indicators flex">
    <DotButton Active=true>The commander</DotButton>
    <DotButton Active=false>The mission specialist</DotButton>
    <DotButton Active=false>The pilot</DotButton>
    <DotButton Active=false>The crew engineer</DotButton>
</div>*@

    <div role="tablist" aria-label="crew member list" class="dot-indicators flex">
        <button aria-selected="true"  role="tab" tabindex="0" aria-controls="commander-tab" data-image="commander-image"><span class="sr-only">The commander</span></button>
        <button aria-selected="false" role="tab" tabindex="-1" aria-controls="specialist-tab" data-image="specialist-image"><span class="sr-only">The mission specialist</span></button>
        <button aria-selected="false" role="tab" tabindex="-1" aria-controls="pilot-tab" data-image="pilot-image"><span class="sr-only">The pilot</span></button>
        <button aria-selected="false" role="tab" tabindex="-1" aria-controls="engineer-tab" data-image="engineer-image"><span class="sr-only">The crew engineer</span></button>
    </div>