 <header class="primary-header flex">
        <div>
            <img src="./assets/shared/logo.svg" alt="space tourism logo" class="logo">
        </div>
        <NavBar/>
        <!-- my ::after is here -->
</header> 


