.logo {
    margin: 1.5rem clamp(1.5rem, 5vw, 3.5rem);
    align-items: center;
}

.primary-header {
    justify-content: space-between;
}



@media (min-width: 45em) {

    .primary-header::after {
        content: '';
        display: block;
        position: relative;
        top: 5rem;
        height: 1px;
        width: 100%;
        order: 1;
        margin-right: -3rem;
        background: hsl(var(--clr-white)/.25);
    }

   
}
