
.primary-navigation {
    --gap: 8rem;
    --underline-gap: 2rem;
    list-style: none;
    padding: 0;
    margin: 0;
}

    .primary-navigation a {
        text-decoration: none;
    }

        .primary-navigation a > span {
            margin-right: .5em;
            font-weight: 700;
        }
