button {
    cursor: pointer;
    border: 1;
    aspect-ratio: 1;
    height: 75px;
    border-radius: 50%;
    padding: .5em;
    color: hsl( var(--clr-white));
    border-color: hsl( var(--clr-white)/.25);
    background-color: hsl( var(--clr-dark));
}

    button:hover,
    button:focus {
        border: 1px hsl( var(--clr-white)) solid;
        color: hsl( var(--clr-white));
        background-color: hsl( var(--clr-dark));
    }

button[aria-selected = "true"] {
    color: hsl( var(--clr-dark));
    background-color: hsl( var(--clr-white));
}
